@{
    ViewData["Title"] = "Weather App";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">

                <div class="box text-white" id="box" style="border-radius: 40px;">
                    <form onsubmit="event.preventDefault(); getCityWeatherAndWallpaper()" class="text-center mt-3">
                        <!-- <h1>gWeather</h1> -->
                        <input type="text" name="" placeholder="Search city" id="cityInput">
                        <input type="submit" name="" value="Go!" href="#"><hr>
                    </form>


                    <div id="wData">
                        <h4 class="mb-0" id="wCity"></h4>
                        <p class="display-2 my-1" id="wTemp"></p>
                        <img id="wIcon" src="http://openweathermap.org/img/wn/10d.png"> <h4 id="wCondition"></h4>
                        <p class="mb-1">Feels like <strong id="wFeelsLike"></strong></p>

                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1" style="font-size: 1rem;">
                                <div>
                                    <i class="bi bi-droplet-fill" style="color: #868B94;"></i><i> Humidity:  <span class="ms-1" id="wHumidity"></span></i>
                                </div>
                                <div>
                                    <i class="bi bi-speedometer" style="color: #868B94;"></i><i> Pressure: <span class="ms-1" id="wPressure"></span></i>
                                </div>
                                <div>
                                    <a><i class="bi bi-thermometer-half"></i> <i>Min:  <span class="ms-1" id="wMinTemp"></span> | </a></i>
                                    <a><i class="bi bi-thermometer-half"></i> <i>Max:  <span class="ms-1" id="wMaxTemp"></span></a></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
