/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cityInput {
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    margin: 10px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    : focus

{
    border: 2px solid #000;
    border-radius: 4px;
} 

}

.inputBtn {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(90deg,#fe8c00,#f83600);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    : hover

{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}
                          
}

.inputBox {
    background-color: #fff;
    background-color: rgba(0,0,0,0.5);
    width: 60%;*/
    /*border: 3px solid black;*/
    /*border-radius: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

.inputBoxContents {*/
    /*margin: 20px 10px 20px 10px;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;

    background: url(https://images.unsplash.com/photo-1624138784614-87fd1b6528f8?ixlib=rb-1.2.1) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: white;
}

.card {
    margin-bottom: 20px;
    border: none;
}

.box {
    position: absolute;
    width: 400px;
    height: 150px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    border-radius: 20px;
    opacity: 0.8;
}

    .box input[type="text"] {
        border: 0;
        background: none;
        /* display: block; */
        margin: 20px auto;
        text-align: center;
        border: 2px solid #e86442;
        padding: 8px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        font-size: medium;
    }

    .box h1 {
        color: #523ee9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .box input[type="text"]:focus {
        width: 300px;
        border-color: #e86442
    }

    .box input[type="submit"] {
        border: 0;
        background: none;
        /* display: block; */
        margin: 20px auto;
        text-align: center;
        border: 2px solid #523ee9;
        padding: 8px 20px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type="submit"]:hover {
            background: #523ee9
        }

#wData {
    transition: 0.5s;
    visibility: hidden;
}
