
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    background: url(https://images.unsplash.com/photo-1624138784614-87fd1b6528f8?ixlib=rb-1.2.1) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: white;
}

.card {
    margin-bottom: 20px;
    border: none;
}

.box {
    position: absolute;
    width: 400px;
    height: 150px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    border-radius: 20px;
    opacity: 0.8;
}

    .box input[type="text"] {
        border: 0;
        background: none;
        /* display: block; */
        margin: 20px auto;
        text-align: center;
        border: 2px solid #e86442;
        padding: 8px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        font-size: medium;
    }

    .box h1 {
        color: #523ee9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .box input[type="text"]:focus {
        width: 300px;
        border-color: #e86442
    }

    .box input[type="submit"] {
        border: 0;
        background: none;
        /* display: block; */
        margin: 20px auto;
        text-align: center;
        border: 2px solid #523ee9;
        padding: 8px 20px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type="submit"]:hover {
            background: #523ee9
        }

#wData {
    transition: 0.5s;
    visibility: hidden;
}

#ui-id-1 {
    background-color: white;
    position: relative !important;
    margin: 20px auto;
    text-align: center;
    left: 14.3542px !important;
    /*border: 2px solid #e86442;*/
    padding: 8px 10px;
    width: 200px !important;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    outline: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.25s;
    font-size: medium;
    z-index: 25 !important;
}

    #ui-id-1 li {
        list-style: none;
        border-bottom: .5px solid #e86442;
        padding: 5px;
        margin: 2px;
    }

        #ui-id-1 li:hover {
            color: #5945c5;
            cursor: pointer;
        }
.ui-helper-hidden-accessible {
    display: none;
}
